<section>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a class="navbar-brand" href="">Books </a>
    <ul class="navbar-nav">
      <li class="nav-item active">
     <a class="nav-link" [routerLink]="['add']" [routerLinkActive]="['activelink']">BookManagement</a>
    </li>
    
    </ul>

  </nav>
  </section>
  <h1>Welcome To Book Management</h1>
<section [ngClass]="['routSection']" id="bon">
  <router-outlet></router-outlet>

</section>

<section>
<app-footer></app-footer>
  
</section>